*{
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}
.header{

  background-color: white;
  
}
.container {
  height: 100vh;
}
.sidebar{
  background-color: #40A2D8;
}










.container{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: .3fr 1fr;
  grid-template-areas: 
  "sidebar header"
  "sidebar main"
  ;
}

.header{
  grid-area: header;

}
.sidebar{
  grid-area: sidebar;
 
}
.main{
  grid-area: main;
  background-color: #dadada;
}

.side1, .side2, .side3, .side4, .side5, .side6, .side7, .side8, .side9, .side10{
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  align-items: center;
}

.image{
  width: 3.5rem;
  height: auto;
  margin-left: 1rem;
  margin-top: 10px;
  
}

.side2{
  margin-top: 3rem;
}

.sidebar-title{
  color: white;
  font-size: 20px;
  
}

.sidebar-image{
  width: 2rem;
  height: auto;
  margin-left: 1.8rem;

}
.side3{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.side5, .side6, .side7, .side9, .side10{
  margin-top: 1rem;
}

.side8{
  margin-top: 5rem;
}



.header{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "search"
  "profile"
  ;
}




.search{
  grid-area: search;
  display: grid;
  grid-template-columns:1fr 4fr 1fr 1fr 2fr ;
  grid-template-rows: auto;
grid-template-areas:
"search input notification avatar name"
;

}

.search-img{
  width: 2rem;
  margin-top: 1.8rem;
  margin-left: 1rem;
  grid-area: search;
}

.search-input{
  background-color: #dadada;
  border: none;
 height: 1.5rem;
  border-radius: 1rem;
  margin-top: 1.8rem;
  
  grid-area: input;
}

p{
  font-size: 12px;
}

.profile-img{
  width: 50px;
  margin-top: 0.6rem;
}

.avatar-name{
  margin-top: .5rem;
  
}

.profile{
  grid-area: profile;
  display: grid;
  grid-template-columns:2fr 1fr;
  
}

button{
  background-color: #40A2D8;
  padding: 0.5rem 1rem;
  border:none;
  color: white;
  border-radius: 50px;
  
}

.header-buttons{
  align-self: center;
  margin-right: 10px;
  
}

.main{
  display: grid;
  grid-template-columns: 4fr 1.5fr ;
}

.main-left .card{
  height: 200px;
  background-color: #fff;

}

.main-left{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 15px;
  margin-bottom: 70px;
  margin-left: 15px;
  margin-top: 15px;
}

.main .title{
  font-weight: bold;
  font-size: 18px;
  margin-top: 35px;
  
}

.svg-star, .svg-eye,.svg-link{
  width: 25px;
}

.card p{
  margin-left: 20px;
  margin-right: 20px;
}


.search-input:focus{
  border: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
  outline: none;
}


.card{
  display: grid;
  grid-template-rows: 3fr 1fr;
  place-items: start end;
}

.card-svg{
  margin-right: 10px;
  
}

.card{
  box-shadow:-8px 0px  rgba(255, 165, 0, 0.5); 
  border-radius: 20px;
}

.announcements{
  background-color: white;
  margin-top: 1.3rem;
  margin-left: 15px;
  border-radius: 10px;
  padding: 25px;
}

.up,.middle{
  border-bottom: 2px solid rgb(219, 204, 204, 0.7);
  margin-bottom: 15px;

}

.announce-title{
  font-weight: bold;
}

.trending-avatar{
  width: 50px;
}

.trending{
  margin-left: 15px;
  margin-top: 6.4rem;
  background-color: white;
  border-radius: 20px;
  display: grid;
  grid-template-rows: repeat(4, 0.25fr)
}

.first, .second{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  
}

.transparent{
  color: rgba(0,0,0,0.5);
}
